body{
	background-image: url(../imagen/fondo2.jpg);
}

nav{
	margin: 0 10%;

}

.menu li{
	list-style: none;
	color:#000;
	display: inline;
	background:#fff;
	margin: 0 20px;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
}

#encabezado{
	color: white;
	text-align: center;
	border-radius: 10px;
	width: 50%; 
	margin: 10 px 10px;
	padding: 10 px 10px	10px 10px;
	background: black;
}

#foto{
	color: #243499;
	text-align: center;
	border-radius: 10px;
	margin: 25px 25px;
	padding: 10px 10px 10px 10px;
	background: black;

}

#pregunta{
	color: white;
	text-align: center;
	border-radius: 10px;
	width: 50%; 
	margin: 10 px 10px;
	padding: 10 px 10px	10px 10px;
	background: black;
}

#seccion1{
	color: white;
	text-align: center;
	float: right;
	border-radius: 10px;
	width: 38%;
	height: 350px;
	margin: 25px 25px;
	background-color: black;
	padding: 20px 20px 20px 20px;
}

#encabezado2{
	color: white;
	text-align: center;
	border-radius: 10px;
	width: 50%; 
	margin: 10 px 10px;
	padding: 10 px 10px	10px 10px;
	background: black;
}

/*BIO*/

#seccion2{
	color: white;
	text-align: center;
	float: right;
	border-radius: 10px;
	width: 38%;
	height: 700px;
	margin: 25px 25px;
	background-color: black;
	padding: 20px 20px 20px 20px;
}

#section3{
	border-radius: 5px;
	font-size: 23px;
	float: left;
	width: 38%;
	height: 350px;
	margin: 0 0 0 10%;
	background-color: white;
	padding: 10px 10px 10px 10px;
}

#section4{
	border-radius: 5px;
	float: right;
	width: 38%;
	height: 350px;
	margin: 0 10% 0 0;
	background-color: black;
	padding: 10px 10px 10px 10px;
}

#foto2{
	color: #243499;
	text-align: center;
	border-radius: 10px;
	margin: 25px 25px;
	padding: 10px 10px 10px 10px;
	background: white;
}

#section5{
	color: white;
	font-size: 23px;
	border-radius: 5px;
	float: left;
	width: 38%;
	height: 350px;
	margin: 5% 0 0 10%;
	background-color: black;
	padding: 10px 10px 10px 10px;
}

#section6{
	border-radius: 5px;
	float: right;
	width: 38%;
	height: 350px;
	margin: 5% 10% 0 0;
	background-color: white;
	padding: 10px 10px 10px 10px;
}

#video{
	color: #243499;
	text-align: center;
	border-radius: 10px;
	margin: 25px 25px;
	padding: 10px 10px 10px 10px;
	background: gray;

}

#section7{
	border-radius: 5px;
	font-size: 23px;
	float: left;
	width: 38%;
	height: 350px;
	margin: 5% 0 0 10%;
	background-color: white;
	padding: 10px 10px 10px 10px;
}

#section8{
border-radius: 5px;
	float: right;
	width: 38%;
	height: 350px;
	margin: 5% 10% 0 0;
	background-color: black;
	padding: 10px 10px 10px 10px;
}

#foto3{
	color: #243499;
	text-align: center;
	border-radius: 10px;
	margin: 25px 25px;
	padding: 10px 10px 10px 10px;
	background: white;
}

#foto4{
	color: #243499;
	text-align: center;
	border-radius: 10px;
	margin: 25px 25px;
	padding: 10px 10px 10px 10px;
	background: gray;
}

#foto5{
	color: #243499;
	text-align: center;
	border-radius: 10px;
	margin: 25px 25px;
	padding: 10px 10px 10px 10px;
	background: gray;
}

#section9{
	border-radius: 5px;
	font-size: 23px;
	color: white;
	float: left;
	width: 38%;
	height: 350px;
	margin: 5% 0 0 10%;
	background-color: black;
	padding: 10px 10px 10px 10px;
}

#section10{
	border-radius: 5px;
	float: right;
	width: 38%;
	height: 350px;
	margin: 5% 10% 0 0;
	background-color: white;
	padding: 10px 10px 10px 10px;
}